apiVersion: v2
kind: Service
metadata:
  name:  satty-rtp-service
  namespace: satty
spec:
  type: NodePort
  selector:
    app: satty-rtp
  ports:
  - nodePort: 30082
    port: 8000
    targetPort: 8000